[submodule "bundles/dropbox"]
	path = bundles/dropbox
	url = git://github.com/wildlyinaccurate/dropbox-laravel.git
[submodule "bundles/doctrine"]
	path = bundles/doctrine
	url = git://github.com/wildlyinaccurate/doctrine-bundle.git
[submodule "public/assets/js/jquery-lazyload"]
	path = public/assets/js/jquery-lazyload
	url = git://github.com/wildlyinaccurate/jquery-lazyload.git
