[submodule "bundles/dropbox"]
	path = bundles/dropbox
	url = git://github.com/wildlyinaccurate/dropbox-laravel.git
[submodule "bundles/doctrine"]
	path = bundles/doctrine
	url = git://github.com/wildlyinaccurate/doctrine-bundle.git
[submodule "public/assets/js/jquery-lazyload"]
	path = public/assets/js/jquery-lazyload
	url = git://github.com/wildlyinaccurate/jquery-lazyload.git
[submodule "vendor/monolog"]
	path = vendor/monolog
	url = git://github.com/Seldaek/monolog.git
[submodule "public/assets/js/vendor/underscore"]
	path = public/assets/js/vendor/underscore
	url = git://github.com/documentcloud/underscore.git
[submodule "public/assets/js/vendor/backbone"]
	path = public/assets/js/vendor/backbone
	url = git://github.com/documentcloud/backbone.git
[submodule "public/assets/js/vendor/JSON-js"]
	path = public/assets/js/vendor/JSON-js
	url = git://github.com/douglascrockford/JSON-js.git
