@import 'elements.less';

/* HTML Elements */
body {
	color: #333;
	font-family: 'Open Sans', sans-serif;
	background: url(/assets/img/bg-texture.png);
	overflow-x: hidden;
}

a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }

h1 { font-size: 28px; }
h2 { font-size: 18px; }
h3 { font-size: 14px; }
h4 { font-size: 13px; }

h1, h2, h3, h4 {
	color: #555;
	font-family: 'Coustard', Verdana, sans-serif;
    margin-top: 0;
	margin-bottom: 0.4em;
}

h3, h4 {
	margin-bottom: 0.1em;
}

h2 a, h3 a, h4 a {
	text-decoration: none;
}

p {
	margin: 8px 0 12px;
}

/* Common Classes */
.note {
	color: #555;
	padding: 4px;
	font-style: italic;
	text-shadow: 1px 1px 1px #ccc;
}

.error {
	color: #d00;
	padding: 4px;
	text-shadow: 1px 1px 1px #ccc;
}

/* Heading */
header {
	height: 60px;
	background: #a0a0a0;
	.drop-shadow(0, 1px, 5px, 0.2);
}

header h1 {
	float: left;
	padding-top: 9px;
}

header h1 a {
	color: #564436 !important;
	text-decoration: none;
	text-shadow: 1px 1px 1px #eee;
	.transition-duration(1s);
}

header h1 a:hover {
	text-shadow: 1px 1px 9px #fff;
	.transition-duration(0.4s);
}

header .site-description {
	color: #444;
	font-size: 1em;
	margin: 2px auto 0;
	text-indent: 4px;
	text-shadow: 1px 1px 1px #fff;
	width: 975px;
}

/* Navigation */
nav li {
	float: left;
}

nav a, nav a:visited {
	float: left;
	height: 16px;
	line-height: 16px;
	padding: 22px 18px;
	text-decoration: none;
	color: #eee;
	.transition-duration(0.3s);
}

nav a:hover {
	color: #666;
}

#account-navigation {
	text-align: right;
}

/* Content */
#content {
	margin-top: 38px;
}

#main, #sidebar {
	padding: 12px;
	background: #f5f5f5;
	border: 1px solid #cecece;
	.border-radius(6px, 6px, 6px, 6px);
}

/* Footer */
footer {
	font-size: 0.8em;
	margin-top: 24px;
	padding: 8px 0;
	clear: left;
}

#footer-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#footer-links li {
    display: inline;
    margin-right: 6px;
}

#copy-notice {
    margin: 3px 0;
}

/* Entries */
.entry {
	margin-bottom: 16px;
}

.entry .description {
	margin-top: 8px;
}

.entry .entry-status {
	font-style: italic;
}

.entry h3 {
	margin-bottom: 0.2em;
}

.entry-image {
    margin-bottom: 4px;
}

.my-entries .thumbnail {
	float: left;
	margin: 0 8px 8px 0;
}

.my-entries .ratings {
	margin-top: 16px;
}

.my-entries .description {
	clear: left;
}

.submitted-by {
	color: #999;
	font-size: 11px;
}
