@import 'elements.less';

// LESS Variables
@body-bg-colour: #ddd;
@content-bg-colour: #f5f5f5;
@content-border-colour: darken(@body-bg-colour, 10%);

@base-text-colour: #333;
@dark-grey: lighten(@base-text-colour, 10%);
@h1-colour: #8f1594;
@link-colour: #607890;
@link-hover-colour: #036;

@nav-hover-colour: #fff;
@nav-colour: darken(@nav-hover-colour, 25%);


// HTML Elements
body {
  color: @base-text-colour;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  background-color: @body-bg-colour;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

a, a:active, a:visited {
  color: @link-colour;
}

a:hover {
  color: @link-hover-colour;
}

a.btn {
  color: inherit;
  text-decoration: inherit;
}

p {
  margin: 4px 0 7px;
}

h1 {
  font-size: 25px;
  padding-top: 3px;
}

h1 .label {
  vertical-align: super;
}

h1 a {
  color: @h1-colour !important;
  padding-left: 4px;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
  .transition-duration(0.6s);
}

h1 a:hover {
  color: lighten(@h1-colour, 8%) !important;
  .transition-duration(0.3s);
}

h2 {
  font-size: 26px;
  padding: 0 6px 2px;
}

h3 {
  font-size: 18px;
  padding: 4px 0;
}

h4 {
  font-size: 14px;
}

h1, h2, h3, h4, .entry .rating {
  color: @dark-grey;
  font-family: 'Coustard', Georgia, serif;
}

h2 a, h3 a, h4 a {
  text-decoration: none;
}

// Common Classes
.error, .success {
  padding: 4px;
}

.error {
  color: #c32;
}

.success {
  color: #5a5;
}

.loading {
  background: url(../img/loading.gif) no-repeat right;
}

.login-required {
  display: none;
}

form .error, form .success, form .help-block, form .help-inline {
  font-size: 12px;
}

// Heading
header {
  background-color: #2a292d;
  width: 100%;
  height: 44px;
  position: fixed;
  top: 0;
  z-index: 2000;
  .drop-shadow(0, 2px, 7px, 0.5);
}

// Navigation
header nav ul {
  float: right;
}

header nav li {
  float: left;
}

header nav a, header nav a:visited {
  float: left;
  height: 16px;
  font-weight: bold;
  line-height: 16px;
  padding: 13px 22px 13px 44px;
  text-decoration: none;
  color: @nav-colour;
  .transition-duration(0.4s);
}

header nav a:hover {
  color: @nav-hover-colour;
}

header nav .upload {
  background: url(../img/upload.png) no-repeat 13px 14px;
}

header nav .upload:hover {
  background-position: 13px -22px;
}

#account-navigation {
  text-align: right;
}

#account-navigation a {
  padding: 13px 16px;
}

// Content
#content {
  margin-top: 60px;
}

#main section, .entry, #sidebar section {
  padding: 14px;
  margin-bottom: 18px;
  background-color: @content-bg-colour;
  border: 1px solid @content-border-colour;
  .border-radius(6px);
}

#main .entries {
  border: none;
  padding: 0;
  background-color: transparent;
}

// Footer
footer {
  font-size: 0.8em;
  margin-top: 24px;
  padding: 8px 0;
  clear: left;
}

#footer-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: right;
}

#footer-links li {
  display: inline;
  margin-right: 6px;
}

// Entries
.entry {
  margin-bottom: 16px;
}

.entry .description {
  margin-top: 8px;
}

.submitted-by {
  color: @dark-grey;
  font-size: 11px;
}

.entry .rating {
  margin: 12px 0 6px;
  font-size: 20px;
  font-weight: bold;
}

.entry .entry-status {
  font-style: italic;
}

.entry .buttons {
  float: right;
  text-align: center;
  padding: 12px;
}

.entry .buttons a {
  display: block;
  width: 50px;
  height: 34px;
  padding: 8px 0;
  background-repeat: no-repeat;
  background-position: 0 0;
  color: #fff;
  text-decoration: none;
}

.entry .buttons a:hover, .entry .buttons a.active {
  background-position: 0 -54px;
}

.entry .favourite {
  background-image: url(../img/favourite.png);
}

.entry .comments {
  background-image: url(../img/comments.png);
}

.entry-image {
  margin-bottom: 4px;
}

.my-entries .thumbnail {
  float: left;
  margin: 0 8px 8px 0;
}

.my-entries .ratings {
  margin-top: 16px;
}

.my-entries .description {
  clear: left;
}

.load-more {
  display: block;
}

.no-more-entries {
  display: none;
}
