section.admin {
  font-size: 12px;
}

.status .verb {
  font-weight: bold;
}

.Approved .verb {
  color: #408140;
}

.Declined .verb {
  color: #942A25;
}

.entry-info .preview {
  float: right;
}

.entry-info ul {
  list-style: none;
}

.entries .actions {
  min-width: 200px;
}
